
div {
    padding: 300px and 500px;
    background-color: #333;
  }

  div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  body {
    background-color: #cebeb9;
  }

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{ 
    font-style: inherit;
}