.hello {
    opacity: 2px;
    font-style: inherit;
    background-image: url('https://plainbackground.com/plain1024/f2dcbf.png');
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-left: 150px;
    margin-bottom: 0;
    width: 1200px;
    height:75px;
    letter-spacing: 5px;
    text-align: center;
    }

    .howareyou {
        font-size: larger;
        font-style: initial;
        letter-spacing: 2px;
        opacity: 1px;
        padding-top: 1px;
        padding-left: 5px;
        margin-top: 0;
        font-weight: 0;
         }

         .bread {
            margin: 0;
            padding: 0;
        }
